# Ignoring specific folders
**/models/
**/dataset/
examples/results/
examples/demonstration_plots/

# Ignore all Python bytecode caches
**/__pycache__/
*.py[cod]

.ipynb_checkpoints/

.idea

.DS_Store